:root {
  --white-color: #ffffff;
  --brack-color: #121214;
  --gray-color: #f5f7f6;

  /* custom  */
  --primary-color: #003349;
  --secondary-color: #ffb81c;
  --title-color: #009cbd;

  --background-color: var(--gray-color);
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
#__next {
  height: 100%;
  background-color: var(--background-color);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
